target/classes/dkdk.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ca709927-bbc1-4b36-86ca-f3b45e7d202c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dkdkFlow" doc:id="ffae65e7-5618-480b-a715-3da761241c6d" >
		<http:listener doc:name="Listener" doc:id="be192758-ccf9-4cb1-86ba-8a7064454a42" config-ref="HTTP_Listener_config" path="/kareena"/>
		<file:read doc:name="Read" doc:id="35c313d7-5f0c-43ec-b0f1-01ba5c4e73f3" path="C:\Users\venky\Desktop\WhatsApp Image 2020-11-26 at 1.40.45 PM.jpeg" outputMimeType="image/jpeg"/>
		<logger level="INFO" doc:name="Logger" doc:id="2bf55b58-f381-43a1-a0cc-fa294851af9e" message="#[payload]"/>
	</flow>
</mule>
